body{
  background-color: #2f5cb6;
  color: white;
  font-family: "Lucida Console", Courier, monospace;
  }

.otsikkokuva{
  width: 100%;
}

.otsikkoalue{
  position: relative;
  text-align: center;
}

.otsikkoteksti{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.otsikkoalue h1{
  font-size: 3em;
}
